@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;


.card-container{
    cursor: grab;
    text-align: center;
    width: fit-content;
    aspect-ratio: 4/3;
    background-color: hsl(0,0%,12%);
    border-radius: 2rem;
}