@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;


.card-container{
    cursor: grab;
    text-align: center;
    width: fit-content;
    aspect-ratio: 4/3;
    background-color: #101010;
    border-radius: 2rem;
}
body{
    background: linear-gradient(250deg, #7b2ff7, #f107a3);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}